!!!
%head
  %link{:rel => "stylesheet",
    :href => "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"}
  %script{:type => "text/javascript",
    :src => "http://code.jquery.com/jquery-1.9.1.js"}
  %script{:type => "text/javascript",
    :src => "http://code.jquery.com/ui/1.10.3/jquery-ui.js"}
%body
  %p
    Autocomplete example
  %input{:type => "text", :id => "search"}
  %p{:id => "message"}
  %script{:type => "text/javascript",
    :src => "js/autocomplete.js"}
